*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 10px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
}

.logo{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box{
    width: 300px;
    height: 40px;
    display: flex;
}

#search-input{
    width: 260px;
    height: 100%;
    background: #fafafa;
    border: 1px solid rgb(219, 219, 219);
    border-left:none;
    outline: none;
    border-radius:0 10px 10px 0;
    padding: 10px;
    text-transform: capitalize;
}

.search-btn{
    background: #fff;
    cursor: pointer;
    border: 1px solid rgb(219, 219, 219);
    border-right:none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

.search-icon{
    width: 20px;
    height: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-profile{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* notification (heart)*/

.activity-log{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25px;
}

.activity-container{
    width: 350px;
    height: auto;
    max-height: 350px;
    position: absolute;
    top: 200%;
    right: 0;
    background: #fff;
    border: 1px solid rgb(219, 219, 219);
}

.activity-container.hide{
    display: none;
    
}

.activity-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.activity-card:hover{
    background-color: #fafafa;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.activity{
    width: 200px;
    font-size: 1rem;
}

.activity-post{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


/* main */

.main{
    width: 100%;
    position: relative;
    margin-top: 80px;
    display: flex;
    padding: 0 20vw 100px;
    gap: 50px;
}

/* post section */
.post-container{
    width: 55%;
}

.post{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    gap: 10px;
}

.post-header .user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-header .username{
    font-size: .9rem;
    font-weight: 600;
}

.post-feed{
    width: 100%;
    max-height: inherit;
    position: relative;
}

.post-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.post-img-container img{
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.post-detail{
    padding: 1.2rem;
}

.detail-interactions{
    display: flex;
    gap: 10px;
}

.detail-interactions img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.likes{
    color: rgb(38, 38, 38);
    margin-top: 15px;
    font-weight: 700;
}

.post-des{
    font-size: .9rem;
    line-height: 1.4rem;
    opacity: 0.8;
}


.post-username{
    font-weight: 700;
}

/* comment */
.comment-box{
    width: 100%;
    height: 42px;
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    border: none;
}

#comment-input{
    width: 100%;
    height: 40px;
    background: #fafafa;
    border: none;
    padding: 10px;
    line-height: 45px;
    z-index: 2;
    font-size: 1rem;
    outline: 0;
    border-radius: 7px 0 0 7px;
}

#comment-input::placeholder{
    color: #bbb;
}

.add-comment-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    cursor: pointer;
    border-radius: 0 7px 7px 0;
    border: none;
    outline: none;
    background: #fafafa;
}

.add-comment-btn img{
    height: 30px;
    width: 30px;
}

.comment-count{
    font-weight: 600;
    color: #a0a0a0;
    font-size: 0.8rem;
    display: flex;
    margin-top: 10px;
    opacity: 0.7;
}

/* post like */

.post-overlays{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.like-icon{
    width: 150px;
    opacity: 0;
    transition: .5s;
}

.like-icon.show{
    opacity: 1;
    animation: popup 2s forwards 1;
}

@keyframes popup{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1.1);
    }
    80%{
        transform: scale(.9);
    }
    90%{
        transform: scale(.95);
    }
    100%{
        transform: scale(1);
    }
}


/* share post */
.share-post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    width: 70%;
    transition: .5s;
    opacity: 0;
}

.share-post.active{
    opacity: 1;
    pointer-events: all;
}

.share-post .title{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.share-link-container{
    width: 100%;
    display: flex;
    border: 1px solid rgb(219, 219, 219);
}

#share-link{
    height: 30px;
    padding: 10px;
    background-color: #fafafa;
    border: none;
    color: #999;
    width: 200%;
}

.copy-btn{
    background: #2e91ee;
    border: none;
    outline: none;
    cursor: pointer;
    color: #a1cbf1;
    text-transform: capitalize;
    width: 100px;
}

/* main right section */

.user-about-section{
    width: 45%;
    height: 100%;
    position: relative;
}

.user-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-dp{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.name{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px ;
}

.info-container{
    font-size: .8rem;
    line-height: 1.2rem;
    opacity: 0.8;
}